container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}
.table caption {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
}
.table tr {
    background-color: #f8f8f8;
    border:1px solid #ddd;
}
.table th, .table td {
    font-size: 16px;
    padding: 8px;
    text-align: center;
}
.table thead th {
    text-transform: uppercase;
    background-color: rgb(212, 36, 36);
}
.table tbody tr:hover {
    background-color: rgb(0, 0, 0, 0.2);
}
.table tbody td:hover {
    background-color: rgb(0, 0, 0, 0.5);
}

@media screen and (max-width: 600px) {
    .table {
        border: 0px;
    }
    .table caption {
        font-size: 22px;
    }
    .table thead {
        display: none;
    }
    .table tr {
      margin-bottom: 8px;
      border-bottom: 4px solid rgb(56, 209, 76);
      display: block;  
    }
    .table th, .table td {
        font-size: 12px;
    }
    .table td {
        display: block;
        border-bottom: 1px solid rgb(124, 117, 178);
        text-align: right;
    }
    .table td:last-child {
        border-bottom: 0px;
    }
    .table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}
