<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
       

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css"
    <title>prueva tabla responsi</title>
  </head>
  <body>
    <div class="container">
        <table class="table">
            <caption>carrito compras</caption>
            <thead>
                <tr>
                    <th>PRODUCTO</th>
                    <th>CANTIADA</th>
                    <th>SUMA</th>
                </tr>
            </thead>
            <tbody>
                {% for key,value in request.session.carro.items %}
                    <tr>
                        <td data-label="Producto">nombre del producto</td>
                        <td data-label="Cantidad">cantidad</td>
                        <td data-label="Suma">

                            <a href="{% url 'carro:agregar' value.producto_id %}" class="btn btn-sm btn-success">+</a>
                            <a href="{% url 'carro:restar' value.producto_id %}" class="btn btn-sm btn-success">-</a><br/>

                            {{value.precio}} $
                    
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td data-label="Producto">hat</td>
                    <td data-label="Cantidad">four</td>
                    <td data-label="Suma">80000</td>
                </tr>
                <tr>
                    <td data-label="Producto">sorck</td>
                    <td data-label="Cantidad">5</td>
                    <td data-label="Suma">35000</td>
                </tr>
            </tbody>
        </table>

    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>